@use '../abstracts/variables' as *;

.container {
  width: 100%;
  max-width: $max-width;
  margin: 0 auto;
  padding: 0 $spacing-lg;
}

section {
  padding: $spacing-xxl 0;
}

.flex {
  display: flex;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.grid {
  display: grid;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

body {
  padding-top: 70px;
}
